---
import Layout from "../layouts/Layout.astro";
import Product from "../components/Product.astro";

const apiUrl = `${import.meta.env.PUBLIC_API_URL}/products`;
const response = await fetch(apiUrl);
const data = await response.json();
const formatData = () => {
  return data.map((d) => ({
    ...d,
    imageUrl: `${
      import.meta.env.PUBLIC_CLOUDINARY_BASE_URL
    }/v1680120548/GuitarLA/${d.url}.jpg`,
  }));
};
const products = formatData();
---

<Layout title="Tienda" description="Tienda de Instrumentos musicales">
  <main class="contenedor">
    <h1 class="heading">Tienda</h1>
    <div class="grid">
      {products?.map((product) => <Product data={product} />)}
    </div>
  </main>
</Layout>

<style></style>
